<div class="nav-menu">
  <button id="menu-trigger" class="nav-trigger">With Icon ▼</button>
  <div id="menu-content" class="nav-content hidden">
    <ul>
      <li>
        <a href="#" class="nav-link">
          <span class="icon">❓</span>
          Backlog
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <span class="icon">⭕</span>
          To Do
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <span class="icon">✅</span>
          Done
        </a>
      </li>
    </ul>
  </div>
</div>
